@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url(http://i.imgur.com/0FWlHtV.jpg);
    background-size: cover;
    font-family: "Indie Flower", cursive;
    font-size: 17px;
    color: white;
}
#list_surround {
    /*The Header above the list*/
    position: absolute;
    right: 13%;
    top: 160px;
    width: 850px;
    height: 100px;
}
a {
    font-family: "Indie Flower", cursive;
    font-size: 17px;
    color: white;
    text-decoration: none;
    text-shadow: none;
}
a:hover {
    color:black;
}
.table_header {
    /*Row 1 of Each Table*/
    background-color: rgba(215, 215, 215, .8);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 22px;
    border: 1px transparent;
}
.table_header:first-of-type {
    padding-left: 1px;
    border-top-left-radius: 5px;
    width: 35px;
}
.table_header:nth-of-type(3) {
    padding-right: 1px;
}
.table_header:nth-of-type(4) {
    width: 100px;
}
.table_header:last-of-type {
    padding-right: 3px;
    border-top-right-radius: 5px;
    width: 80px;
}
.td1 {
    background-color:rgba(255, 255, 255, 0.4);
    height:45px;
    border: 1px transparent;
}
.td2 {
    background-color:rgba(255, 255, 255, 0.4);
    height:45px;
    border: 1px transparent;
}
.table_header, .td1, .td2, .status_selected, .status_not_selected, .category_totals {
    text-align: center;
}
/*Adjsting column width*/
.td1:first-of-type, .td2:first-of-type {
    width: 35px;
}
.td1:nth-of-type(2), .td2:nth-of-type(2) {
    padding-left: 8px;
    padding-right: 10px;
    text-align: left;
}
.td1:nth-of-type(4), .td2:nth-of-type(4) {
    width: 100px;
}
.td1:last-of-type, .td2:last-of-type {
    width: 80px;
}
/*Self Explanatory, but last row*/
.category_totals {
    background-color: rgba(215, 215, 215, .8);
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 13px;
}
/*Self Explanatory*/
#grand_totals {
    text-align: center;
    font-family: "Indie Flower";
    font-weight: bold;
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: -10px;
    background-color: rgba(215, 215, 215, .8);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 35px;
}
#copyright {
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: "Indie Flower";
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    background-color: rgba(215, 215, 215, .8);
}
/*Filters*/
#list_surround .status_selected, #list_surround .status_not_selected {
    /*All of Them and Watching/Reading*/
    background-attachment: center;
    background-image: url(http://i.imgur.com/iU0UWbJ.jpg);
    background-repeat: no-repeat;
    position: absolute;
    margin-bottom: 30px;
    width: 125px;
    height: 30px;
    left: 145px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
}
#list_surround .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected {
    /*Completed*/
    left: 290px;
    background-image: url(http://i.imgur.com/9EaHVA0.jpg);
}
#list_surround .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected {
    /*On Hold*/
    left: 435px;
    background-image: url(http://i.imgur.com/ZDSpW47.jpg);
}
#list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
    /*Dropped*/
    left: 580px;
    background-image: url(http://i.imgur.com/YIpplVf.jpg);
}
#list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
    /*Plan to Watch/Read*/
    left: 725px;
    background-image: url(http://i.imgur.com/lxMUyeo.jpg);
}
#list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
    /*All*/
    left: 0px;
    background-image: url(http://i.imgur.com/JlD1VV0.jpg);
}
.status_selected a, .status_not_selected a, .status_selected:hover a, .status_not_selected:hover a {
    color:transparent;
    display:block;
    font-size:0;
    width: 125px;
    height: 35px;
}
.status_not_selected {
    opacity:0.6;
}
.status_not_selected:hover {
    color:transparent;
    opacity:1;
}
/*Headers for Each Table*/
.header_cw {
    background-image: url(http://i.imgur.com/Mz1XSvi.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 200px;
    margin-top: 30px;
    color: transparent;
}
.header_completed {
    background-image: url(http://i.imgur.com/FBbp5ea.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 200px;
    margin-top: 30px;
    color: transparent;
}
.header_onhold {
    background-image: url(http://i.imgur.com/gQJq0nN.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 200px;
    margin-top: 30px;
    color: transparent;
}
.header_dropped {
    background-image: url(http://i.imgur.com/nPjvQxE.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 200px;
    margin-top: 30px;
    color: transparent;
}
.header_ptw {
    background-image: url(http://i.imgur.com/0bSS6fu.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 200px;
    margin-top: 30px;
    color: transparent;
}
/*Small Text*/
.animetitle + small {
    color: black;
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 11px;
    padding-left: 3px;
}
/* ANIMATED SCROLLING BANNER
    CREDIT: Shishio-kun
Z-index is the position of the scrolling pic (in front of or behind the list). A high z-index will move the list in front of other parts. A lower index will move the scrollbar behind other parts (-1 will be behind most lists).

If you have errors, you need to remove the #inlineContent codes from other parts of your layout before using these codes. Also read the special instructions on position in the next section below.
*/
#inlineContent {
    display: block !important;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 145px;
    overflow: hidden;
    z-index: 10;
}
/* SCROLLING IMAGE
Change image and animation speeds here (20s).

For fixing errors, try to replace the '-200%' after "100% { background-position" with a negative px amount equal to the width of your banner image. Also try to replace the '300%' after the first and only "width" below with the full px width of the banner image you use. You should see the width of your banner when you create it or by clicking view image over it wherever its uploaded.
*/
#inlineContent:before {
    pointer-events: none;
    position: absolute;
    content: '';
    width: 2915px;
    height: 100%;
    background-image: url("http://i.imgur.com/rAzSGbu.jpg");
    -moz-animation: scroll 50s linear infinite;
    -webkit-animation: scroll 50s linear infinite;
}


@-moz-keyframes scroll {
    0% { background-position: 0; }
    100% { background-position: -2915px; }
}

@-webkit-keyframes scroll {
    0% { background-position: 0; }
    100% { background-position: -2915px; }
}
/*
Navi Links
    CREDITS: Shishio-kun
*/
/* TOP BAR SETTINGS
the numbers in parenthesis change the color and opacity of the bar. Get a color number easily from this page:
http://www.css3maker.com/css-3-rgba.html

Change position to absolute to make the bar not scroll with the page.
Change the background image out with the url in parenthesis.
*/

#mal\_control\_strip {
    background-color: rgba(1,1,1,.5) !important;
    background-image: url('http://i.imgur.com/hzPJrg4.png') !important;
    position:fixed;
}
/*
OTHER CODES
*/
#mal\_control\_strip {
    z-index: 10;
    background-position: bottom !important;
    top: 130px;
    height: 1px !important;
}
#mal\_control\_strip di\v {display:inline}
#mal\_cs\_pic img {
    height: 24px !important;
    width: auto !important
}
#mal\_cs\_listinfo {
    width: 26% !important;
    height: 0 !important;
    padding-bottom: 18px !important;
    padding-top: 27px !important;
    background: ;
    position: absolute;
    top:-5px;
    border-right-color: rgba(0,0,0,0.8) !important;
}
#mal\_cs\_listinfo div:first-of-type:before {content:'Logged in as '}
#mal\_cs\_listinfo div:first-of-type a {
    text-decoration: none;
}
#mal\_cs\_listinfo div:first-of-type a:hover {
    color: rgb(150, 150, 150);
}
#mal\_cs\_listinfo div:last-of-type a {
    text-decoration: none;
    top: 152px;
    left: 23.9%;
    display: block;
    position: fixed;
}
#mal\_cs\_listinfo div:last-of-type a:hover {
    color: rgb(150, 150, 150);
}
#mal\_cs\_links {
    width: 92px !important;
    height: 0 !important;
    padding-bottom: 20px !important;
    padding-top: 27px !important;
    left: 28%;
    top: -7px;
    position: absolute;
    border-right-color: rgba(0,0,0,0.8) !important;
}
#mal\_cs\_links a {
    background-image: url('http://i.imgur.com/PAEW4Q8.png') !important;
    width:16px;
    height:16px;
    content:none;
    display: inline-block !important;
    color: transparent !important;
    letter-spacing: -1ex;
    font-size:xx-small;
}
#mal\_cs\_links div:first-of-type:after {content: '\a0'}
#mal\_cs\_links div:first-of-type a:first-of-type {background-position: 0px 0px}
#mal\_cs\_links div:first-of-type a:last-of-type {background-position: -16px 0px}
#mal\_cs\_links div:last-of-type a:first-of-type {background-position:-32px 0px}
#mal\_cs\_links div:last-of-type a:last-of-type {background-position:-48px 0px}
#mal\_cs\_otherlinks strong{
    width: 25% !important;
    height: 0 !important;
    padding-bottom: 20px !important;
    padding-top: 27px !important;
    left:28%;
    margin-left: 130px;
    top: -5px;
    position: absolute;
    border-right-color: rgba(0,0,0,0.8) !important;
}
#mal\_cs\_otherlinks div:last-of-type {
    float:right;
    padding-right:150px;
    margin-top: 19px;
}
#mal\_cs\_otherlinks div:last-of-type a {
    text-decoration: none;
}
#mal\_cs\_otherlinks div:last-of-type a:hover {
    color: rgb(150, 150, 150);
}
#mal\_cs\_otherlinks div:first-of-type {
    float:left;
}
#mal\_cs\_otherlinks a {
    text-decoration: none;
}
#mal\_cs\_powered img {display:none}
#searchBox {
    margin-top: 15px !important;
    width: 135px !important
}
#mal\_control\_strip img {
    margin-top: 15px !important;
}
